<ion-header>
  <mat-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-menu-button><i class="fas fa-bars"></i></ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="title-padding">Dating Props</ion-title>
    <span (click)="logout()">Logout</span>
  </mat-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="people-flex-container" fxLayout="column wrap" fxLayoutAlign="start center">
    <h4>People</h4>
    <div class="flex-container" fxLayout="column wrap" fxLayoutAlign.gt-xs="start center">

      <shared-card-page *ngFor="let user of userStateService.peopleUsers$| async; index as i; trackBy: usersTrackFn"
        [user]="user">
        <ng-template #peopleTemplate>
          <div class="btn_wrap">
            <span class="span-title">Options</span>
            <div class="container">
              <i (click)="sendMessage(user.email, user.displayName)" matTooltip="Send a Messages"
                matTooltipPosition="above" class="fas fa-envelope" aria-hidden="true"></i>
              <i (click)="navigateProfile(user.email)" matTooltip="View Profile" matTooltipPosition="above"
                class="fas fa-user-friends"></i>
              <i (click)="openBottomSheet(i)" matTooltip="Give a Rating" matTooltipPosition="above"
                class="fas fa-star"></i>
            </div>
          </div>
        </ng-template>
      </shared-card-page>
    </div>
  </div>
</ion-content>