<div class="content">
  <h1>5 Stars Rate</h1>
  <span><i class="fa fa-star"></i></span>
  <p>Rate this person!</p>
</div>

<div class="wrapper">
  <input type="checkbox" id="st1" value="5" />
  <label (click)="setRating(5)" for="st1"></label>
  <input type="checkbox" id="st2" value="4" />
  <label (click)="setRating(4)" for="st2"></label>
  <input type="checkbox" id="st3" value="3" />
  <label (click)="setRating(3)" for="st3"></label>
  <input type="checkbox" id="st4" value="2" />
  <label (click)="setRating(2)" for="st4"></label>
  <input type="checkbox" id="st5" value="1" />
  <label (click)="setRating(1)" for="st5"></label>
</div>