<mat-toolbar>
  <ion-buttons slot="start">
    <ion-button ion-button (click)="closeModal()">Close</ion-button>
  </ion-buttons>
</mat-toolbar>
<div class="flex-wrapper-profile" fxLayout="column" fxLayoutAlign="start center">
  <ion-text class=" profile-description" color="dark" fxLayout="column" fxLayoutAlign="start">
    <img class="profile-pic" [src]="userStateService.selectedUser?.photoURL">
    <h2>{{userStateService.selectedUser?.displayName}}</h2>
    <h5>{{userStateService.selectedUser?.title}}</h5>
    <p><span class="start-text">Age: </span><span class="span-info">{{userStateService.selectedUser?.age}}</span></p>
    <p><span class="start-text">Religion: </span><span
        class="span-info">{{userStateService.selectedUser?.religion}}</span></p>
    <p><span class="start-text">Have Kids? </span><span
        class="span-info">{{userStateService.selectedUser?.haveKids}}</span></p>
    <p><span class="start-text">Hobbies: </span><span
        class="span-info">{{userStateService.selectedUser?.hobbies}}</span></p>
    <p><span class="start-text">Description: </span><span
        class="span-info">{{userStateService.selectedUser?.description}}</span></p>
  </ion-text>
</div>