<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inbox">
      <i class="fa fa-inbox"></i>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="people">
      <i class="fa fa-users"></i>
      <ion-label>People</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="proposal">
      <i class="fa fa-lightbulb"></i>
      <ion-label>Proposal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <i class="fa fa-user"></i>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support">
      <i class="fa fa-question"></i>
      <ion-label>Support</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>