<div fxLayout="column" fxLayoutAlign="center center">
  <ion-card class=" speaker-card">
    <ion-card-header>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <ion-avatar slot="start">
          <img [src]="user.photoURL">
        </ion-avatar>
        <span>
          <ion-card-title>{{user.displayName}}</ion-card-title>
          <ion-card-subtitle>{{user.title}}</ion-card-subtitle>

          <div id="user-email">{{user.email}}</div>
        </span>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          <span class="span-icon"><i [style.color]="checkRating(1)" class="fa fa-star"></i></span>
          <span class="span-icon"><i [style.color]="checkRating(2)" class="fa fa-star"></i></span>
          <span class="span-icon"><i [style.color]="checkRating(3)" class="fa fa-star"></i></span>
          <span class="span-icon"><i [style.color]="checkRating(4)" class="fa fa-star"></i></span>
          <span class="span-icon"><i [style.color]="checkRating(5)" class="fa fa-star"></i></span>
        </div>
        <ng-container class="container-template" [ngTemplateOutlet]=" optionTemplateRef">
        </ng-container>
        <ng-container class="container-template" [ngTemplateOutlet]=" optionTemplateRef2">
        </ng-container>
        <ng-container class="container-template" [ngTemplateOutlet]=" optionTemplateRef3">
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>
</div>