tr td.mat-cell {
    font-size: 0.55rem;
}
.mat-table {
    width: 85vw;
    left: 0;
}
h4 {
    margin: 5vh auto 0;
}
#proposal-flex-container {
    color: white;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-image: url("../../../assets/img/bg/bg-4.jpg");
}
.mat-tab-label {
    color: white !important;
}

.flex-container {
    margin-top: 2vh;
}

.icon-house {
    color: green;
}
